<video
  src="https://images-assets.nasa.gov/video/jsc2015m000207/jsc2015m000207~orig.mp4"
  autoplay
  loop
  class="object-cover w-screen h-screen fixed hidden sm:block z-0"
></video>

<div class="p-4 flex flex-col font-sans flex-shrink-0 flex-grow items-center justify-center z-10">
  <SignIn @cutout-class="bg-black" />
</div>