<div class="p-4 flex flex-col font-sans text-gray-900 flex-shrink-0 flex-grow items-center justify-center">
  <Badge>
    <form class="bg-white flex flex-col flex-grow p-5 justify-between" action="#">

      <div class="flex flex-col flex-grow">
        <p class="mt-4 mb-8">
          <b>Welcome.</b><br>
          Please sign in using your official NASA credentials.
        </p>

        <div class="flex flex-col mb-4">
          <label for="email" class="mb-1">
            <b>E-mail</b> or <b>Badge Number</b>
          </label>
          <input
            id="email"
            type="email"
            class="bg-gray-300 p-3 rounded-none outline-none border-b-2 focus:border-blue-400"
            autofocus
          >
        </div>

        <div class="flex flex-col mb-4">
          <label for="password" class="mb-1">
            <b>Password</b>
          </label>
          <input
            id="password"
            type="password"
            class="bg-gray-300 p-3 rounded-none outline-none border-b-2 focus:border-blue-400"
          >
        </div>

        <p class="text-sm mb-10">
          <a href="#" class="underline">Forgotten your credentials?</a>
        </p>
      </div>

      <Button type="submit" @decoration="chevron">
        Sign in
      </Button>

    </form>

  </Badge>
</div>